.navComponent {
    .navigation {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-left: 1.5rem;
        }
    }
}
