@use "../../../global/global.scss" as glob;

.navComponent {
    .navigation {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        @extend %margin-padding-zero;

        li {
            margin-left: 1.5rem;
        }
    }
}
