@use "../../global/global.scss" as glob;

.productsPage {
    @extend %section-padding-y;

    .sectionName {
        font-weight: 700;
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
}
