@use "../../../global/global.scss" as glob;

.checkoutCart {
    background-color: glob.$cardBackground;
    width: 100%;
    padding: 1rem;
    border-radius: glob.$borderRadius;

    .header {
        .title {
            font-weight: 700;
        }
    }

    .body {
        .box {
            margin: 1rem 0;
            border-top: 1px solid glob.$borderColor;
        }
    }
}
